.main-content {
    max-width: 1440px;
    margin: auto;
}


@media all and (min-width: 600px) {
    .restaurants a {
        width: 48%;
    }

    .fonctionnement {
        padding: 40px 25%;
    }

    .fonctionnement>h2 {
        text-align: center;
    }

    .restaurants>h2 {
        text-align: center;
    }

    .fonctionnement>h2::before, .fonctionnement>h2::after,
    .restaurants>h2::before, .restaurants>h2::after {
        display: inline-block;
        content: ' ';
        width: 50px;
        height: 10px;
        border-top: double 4px #888;
    
    }

    .fonctionnement>h2::before,
    .restaurants>h2::before {
        margin-right:15px;
    }

    .fonctionnement>h2::after,
    .restaurants>h2::after {
        margin-left:15px;
    }

    .restaurants>h2 {
        margin-bottom: 40px;
    }

    footer>div {
        width: fit-content;
        margin: auto;
    }
}


@media all and (min-width: 1024px) {
    .fonctionnement>div {
        display: flex;
        gap: 30px;
    }

    .fonctionnement article {
        width: 30%;
        flex-grow: 1;
    }

    .fonctionnement {
        padding: 40px 5%;
    }

    .restaurants a {
        height: 350px;
    }

}